
{% load static %}
{%load cart_count%}
<header class="header-section">
    {% if request.user.is_authenticated %}
        <div class="alert alert-danger">
            hello {{user.username}}
        </div>
    {% endif%}



        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        truonganhquan110022@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        0363926215
                    </div>
                </div>
                <div class="ht-right">
                            <a href="{% url 'account_logout'%}" class="login-panel"><i class="fa fa-user" ></i>Logout</a>
                            <a href="{% url 'account_login'%}" class="login-panel"><i class="fa fa-user" ></i>Login</a>
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:150px;">
                            <option value='yt' data-image="{% static 'onlineshoop/img/flag-1.jpg' %}" data-imagecss="flag yt"
                                data-title="English">English</option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="https://www.facebook.com/profile.php?id=100028081292058"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="{% static 'onlineshoop/img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">

                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            {% if request.user.is_authenticated %}
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>{{ request.user|cart_count }}</span>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="{% url 'home:cart'%}">
                                    <i class="icon_bag_alt"></i>
                                </a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">

                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'home:index'%}">Home</a></li>
                        <li><a href="{% url 'home:women-clo'%}">Women’s Clothing</a></li>
                        <li><a href="{% url 'home:men-clo'%}">Men’s Clothing</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                {% csrf_token %}
                                <li><a href="{% url 'home:cart'%}">Shopping Cart</a></li>
                                <li><a href="{% url 'home:check-out'%}">Checkout</a></li>
                                <li><a href="{% url 'account_signup'%}">Register</a></li>
                                <li><a href="{% url 'account_login'%}">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>

            </div>
        </div>

    </header>