<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'onlineshoop/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'onlineshoop/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
     {% include 'onlineshoop/header.html'%}
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order_item in object.Items.all %}
                                <tr>
                                    <td class="cart-pic first-row"><img src="{{order_item.Item.img.url}}" alt=""></td>
                                    <td class="cart-title first-row">
                                        <h5>{{order_item.Item.title}}</h5>
                                    </td>
                                    <td class="p-price first-row">${{order_item.Item.pricesale}}</td>
                                        <td class="qua-col first-row">
                                            <a href="{% url 'home:remove_cart' order_item.Item.slug %}"><h4>-</h4></a>
                                                {{order_item.total_quantity}}
                                            <a href="{% url 'home:addcart' order_item.Item.slug %}"><h4>+</h4></a>
                                        </td>
                                    </td>
                                    <td class="total-price first-row">${{order_item.total_price}}</td>
                                    <td class="close-td first-row"><i class="ti-close"></i></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">

                                <a href="#" class="primary-btn up-cart">Update cart</a>
                            </div>

                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>

                                    <li class="cart-total">Total <span>${{ object.final_total_price}}</span></li>
                                </ul>
                                <a href="{% url 'home:check-out'%}" class="proceed-btn">PROCEED TO CHECK OUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'onlineshoop/img/logo-carousel/logo-1.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'onlineshoop/img/logo-carousel/logo-2.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'onlineshoop/img/logo-carousel/logo-3.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'onlineshoop/img/logo-carousel/logo-4.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'onlineshoop/img/logo-carousel/logo-5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
     {% include 'onlineshoop/footer.html' %}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'onlineshoop/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'onlineshoop/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'onlineshoop/js/main.js' %}"></script>
</body>

</html>